.counter {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center; 
    min-height: 85px;

    button {
        margin-left: 5px;
        margin-right: 5px;
        border: none;
        background-color: white;
        cursor: pointer;

        &:hover {
            color: blue;
            font-size: 1.5rem;
        }
    }
}