@use "./assets/sass/_variables.scss" as *;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  color: $color-dark;
  font-family: $font-primary;
  background-image: url("./assets/images/hd-wallpaper-g8ccec26d8_1280.jpg");

  &__ticket-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
