@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600&family=Roboto:wght@400;700&display=swap");

$font-primary: "Edu TAS Beginner", cursive;
$font-secondary: "Roboto", sans-serif;

$color-light: white;
$color-dark: black;

@mixin pin {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  top: 0.2rem;
  border-radius: 2rem;
  background-color: $color-dark;
  box-shadow: 0.1rem 0.1rem 0.2rem $color-dark;
}
